.books {
    background-color: white;
}

.card-book {
    border-color:black!important;
    border-width: 2px!important;
    border-radius: 10px!important;
    background-color: white;
}

.card-genre,.card-book-name,.card-rate,.card-review {
    border-width: 2px!important;
    border-color: black!important;
}

.book-cover {
    min-width: 170px;
    width: 98%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}



.card-book-buttons {
    margin-left: 4px;
    margin-right: 4px;
}

.button-primary {
    width: 50%;
}

.button-danger {
    width: 50%;
}

.show-img {
    height: 325px;
    width: 98%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
}

.genre-li {
    padding-left: 2px;
    list-style-type: none!important;

}

.review-card {
    background-color: white!important;
    border-width: 2px!important;
    border-color: black!important;
    border-radius: 5px!important;
}

.review-header {
    border-color: black!important;
    border-width: 2px!important;
}

.review-header-info {
    border-left: solid;
    border-width:0.5px;
    border-color: black;
    text-align: start;
}
.review-header-info-data {
    text-align: end;
}

.vr-genre {
    border-right: solid!important;
    border-color: black!important;
    border-width: 2px!important;
    margin-left: 2px;
    margin-right: 2px;
}


